body {
	/*font-family: Ubuntu;*/
	font-family: Source Sans Pro;
	font-size: 32px;
	padding-left: 10%;
	padding-top: 2.5%;
	background-color: #fffbef;
	color: #555;
}

body a {
	color: #555;
	text-decoration: none;
}

.strong {
	font-weight: bold;
}

.footer {
	font-size: 16px;
	bottom: 0;
	position: absolute;
	text-align: center;
	padding-bottom: 10px;
	background-color:  #fffbef;
}

.footer img {
	height: 16px;
	width: auto;
	vertical-align: middle;
}

ul.options {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

ul.options li a {
	/* bluish */
	/*background-color: #a5d9ff;*/

	/* orange! */
	background-color: #ffca89;

	padding: 7px;
	border-radius: 10px;
}

.show {
  	transition: opacity 400ms 200ms;
  	z-index: 1;
}

.hide {
  	transition: opacity 200ms;
  	opacity: 0;
  	z-index: 0;
  	height: 0px;
	padding: 0px;
}

.shifter {
	line-height: 1.5;
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	opacity: 0.3;
	transition: opacity 200ms;
}

.shifter:hover {
	opacity: 0.7;
}

/* to ensure the whole block is clickable, not just the small sigil */
.shifter a {
	outline: 0;
	display: inline-block;
	width: 100%;
}

td {
	/* for debugging */
	/*background-color: #eee;*/
}