body {
	font-family: Source Sans Pro;
	font-size: 32px;
	background-color: #fffbef;
	color: #555;
}

body a {
	color: #555;
	text-decoration: none;
}

.main {
	padding: 10%;
	line-height: 2;
}

.strong {
	font-weight: bold;
}

.footer {
	font-size: 16px;
	bottom: 0;
	position: fixed;
	text-align: center;
	padding-bottom: 10px;
	padding-left: 10%;
	background-color:  #fffbef;
}

.footer-arrow {
	display: none;
}

.footer img {
	height: 16px;
	width: auto;
	vertical-align: middle;
}

ul.options {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

ul.options li a {
	/* bluish */
	/*background-color: #a5d9ff;*/

	/* orange! */
	background-color: #ffca89;

	padding: 7px;
	border-radius: 10px;
}

.show {
  	transition: opacity 400ms 200ms;
  	z-index: 1;
}

.hide {
  	transition: opacity 200ms;
  	opacity: 0;
  	z-index: 0;
  	height: 0px;
	padding: 0px;
}

.shifter {
	line-height: 1.5;
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	opacity: 0.3;
	transition: opacity 200ms;
}

.shifter:hover {
	opacity: 0.7;
}

/* to ensure the whole block is clickable, not just the small sigil */
.shifter a {
	outline: 0;
	display: inline-block;
	width: 100%;
}

td {
	/* for debugging */
	/*background-color: #eee;*/
}

/* Reactive stuff */
@media (max-width: 414px) {
	body {
		font-size: 24px;
	}
	.main {
		padding-top: 20%;
	}
	.footer {
		left: 0;
		padding: 0;
		display: block;
		width: 100%;
	}
	.footer-element {
		display: block;
		flex-direction: column;
		width: 100%;
		height: 1.8em;
	}
	.footer-separator {
		display: none;
	}
	.footer-arrow {
		display: inline;
	}
}
